part SSD_MSRSVD /dev/disk/by-partuuid/...
part SSD_EFI /dev/disk/by-partuuid/...
part SSD_NTFS /dev/disk/by-partuuid/...
# Windows may reformat its "Windows Recovery Environment" partition on updates,
# so use disk ID + partition number instead:
part SSD_WINRE /dev/disk/by-id/nvme-SKHynix_...-part4
data HDD_NTFS /dev/disk/by-partuuid/...
part linux_boot /dev/disk/by-partuuid/...
linux linux_root /
linux hdd_ext4 /mnt/1tb/
